// Palette URL: http://paletton.com/#uid=23s0u0k++s-RLZA++B2+XmU+zgT */
$slightly-blue-white: #e7eeff;

$color-primary-0: #006190; // Main Primary color */
$color-primary-1: #04AAFB;
$color-primary-2: #0079B3;
$color-primary-3: #004E73;
$color-primary-4: #003955;

$color-complement-0: #E47A00; // Main Complement color */
$color-complement-1: #FF8900;
$color-complement-2: #ffbd4e;
$color-complement-3: #B76200;
$color-complement-4: #874800;

$slightly-blue-black: #000508;
$slightly-blue-gray: #001119;

$nav-color: #f6ffff;
